
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }

.dark-2{
    color: #474747;
}

  /* shared color */
.text-primary{
    color:#FD6E0A ;
}
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
   
}
/* nav style */
nav{
    display: flex;
   align-items: center;
    justify-content: space-between;
    margin: 10px 160px;
}

.nav-tittle{
    font-size: 45px;
    font-weight: 800;
}

nav ul li {
    list-style: none;
    margin-right: 51px;   
}  

nav ul{
     display: flex;
   align-items: center;
    
}

nav > ul > li > a{
     text-decoration: none;
   
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
}
/* banner styles */
.banner-content{
  /* height: 60px;   */
    width: 980px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600px;
    width: 180px;
    height: 40px;
}
.banner-tittle{
    font-size: 85px;
    font-weight: bold;
    width: 428px;
    height: 170px;
}
.banner-description{
    width: 425px;
    height: 20px;
}
.banner{
    display: flex;
     margin: 0 30px 0 160px;
   justify-content: space-between;
   align-items: center;
   
}
/* main styles */
main{
   
    max-width: 840px; 
    margin: 0 auto;
}

/* about styles */
.about{ 
    padding: 130px 100px ;
    border-radius:10px; 
    text-align: center;
    margin-top: 180px;
    margin-bottom: 100px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-tittle{
    font-weight: bold;
}
.section-tittle{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3 ;
}

