
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }

.dark-2{
    color: #474747;
}

  /* shared color */
.text-primary{
    color:#FD6E0A ;
}
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
   
}
/* nav style */
nav{
    display: flex;
   align-items: center;
    justify-content: space-between;
    margin: 10px 160px;
}

.nav-tittle{
    font-size: 45px;
    font-weight: 800;
}

nav ul li {
    list-style: none;
    margin-right: 51px;   
}  

nav ul{
     display: flex;
   align-items: center;
    
}

nav > ul > li > a{
     text-decoration: none;
   
}

.btn-primary{
    
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 18px 35px;
    border-radius: 10px;
    border: #560bad;
    background-color: #FD6E0A;
    cursor: pointer;
    
}

.btn-primary:hover{
    top: -30px;
    left: -30px;
    color: white;
    background-color: #560bad; 
}
.btn-primary:active{
   background-color:#560bad;
   transition: all 0.7s; 
}
/* banner styles */
.banner{
    display: flex;
    margin: 0 40px 0 170px; 
   justify-content: space-between;
   align-items: center;
}
.banner-content{
    width: 350px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600px;
    width: 180px;
    height: 30px;
}
.banner-tittle{
    font-size: 85px;
    font-weight: bold;
    width: 428px;
    height: 170px;
}
.banner-description{
    width: 425px;
    height: 20px;
}

/* main styles */
main{
   
    max-width: 1000px; 
    margin: 0 auto;
}
main section{
    margin-top: 130px ;
    margin-bottom: 130px;
}

/* about styles */
.about{ 
    padding: 130px 100px ;
    border-radius:10px; 
    text-align: center;
   
    margin-bottom: 100px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-tittle{
    font-weight: bold;
}
.section-tittle{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3 ;
}
.text-center{
    text-align: center;
   
}
.skills-container{
    display: flex;
    
    gap: 24px;

}
/* skills styles */
.skill{
    padding: 20px;
    /* width: 460px; */
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    
}
.section-tittle {
     font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content: center;
    

}
.skill-tittle{
    font-weight: bold;
    font-size: 20px;
}
.sectin-description {
    color:"rgba(117, 117, 117, 1)" ;
    display: flex;
   
}
.skill-description{
    color:"rgba(117, 117, 117, 1)" ;
}
/* resume section styles */
.resume{
    width: 1000px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}
.resume-container{ 
    display: flex;
    
    gap: 24px;
}
.resume-column{
   
    
}
.resume-column-tittle{
   color: rgba(71, 71, 71, 1);
   font-size: 30px;
   margin-bottom: 30px;
   
}
.experience-tittle{
   color: rgba(71, 71, 71, 1);
   font-size: 25px;
   margin-bottom: 10px;
}
.experience-subtittle{
     color: rgba(117, 117, 117, 1);
     font-size: 20px;
     margin-bottom: 20px;
}
.experience-description{
   color: rgba(117, 117, 117, 1);
   font-size: 16px;
   margin-bottom: 30px;
}
#dn{
   margin-top: 50px;
   display: flex;
 justify-content: center;
}
/* footer style */
footer{
     display: flex;
      padding: 130px 230px;  
      gap: 100px;
}
.ftr-clmn{
   
   width: 50%;
}
footer input[type="text"],  footer input[type="email"] {

    height: 50%;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 24px;
    border: none;
}

footer textarea {
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 24px;
    border: none
}